* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Porcine-Heavy";
    src: url("./Porcine-Heavy.ttf");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("./OpenSans-Light.ttf");
}

@font-face {
    font-family: "Bolularegular";
    src: url("./Bolularegular.otf");
}

@font-face {
    font-family: "Beyond\ Wonderland";
    src: url("./Beyond\ Wonderland.ttf");
}

@font-face {
    font-family: "COILED";
    src: url("./COILED.TTF");
}

@font-face {
    font-family: "anakatrinatan";
    src: url("./anakatrinatan.ttf");
}

@font-face {
    font-family: "Agatha";
    src: url("./Agatha.ttf");
}

/* ::-webkit-scrollbar
{
    background-color: black;
}

::-webkit-scrollbar-track
{
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb
{
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: rgb(90, 0, 0);
    border: 2px solid white;
    border-radius: 5px;
} */

body {
    background-image: url("./bg3.jpg");
    background-size: 100% auto;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    object-fit: cover;
    position: relative;
    animation: slideshow-animation 25s;
    animation-timing-function: ease-out;
    animation-delay: 7s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

/* @keyframes slideshow-animation {
      0% {
        background-image: url("./bg3.jpg");
      }
      50%{
        background-image: url("./bg4.jpg");
      }
      100% {
        background-image: url("./bg3.jpg");
      }
    } */

    
.frontpage
{
   width: 100%;
   height: 95vh;
   border-bottom: .5px white none;
  
}

.bgop {
    height: 95vh;
    width: 100%;
    background-color: black;
    opacity: 69%;
    position: absolute;
    display: block;
    z-index: -1;
}

/* nav
    {
        position: sticky;
        top: 0px;
        z-index: 1;
    }
     */
     
.tp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.69);
}

h1 {
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Porcine-Heavy";
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.bar {
    /* list-style-image: url("./menu.png"); */
    padding-right: 20px;
    padding-top: 20px;
}

.bar img:hover {
    /* width: 38px;
    height: 38px; */
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    border-radius: 10px;
    border: 2px solid white;
    /* background-color: rgba(255, 255, 255, 0.8); */
    color: black;
    

}

.front-end
{
    display: flex;
    width: 800px;
    flex-direction: column;
    /* height: 600px; */
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -15%;
    left: 40%;
}

.tile {
    border: 2px white none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* width: 99%; */
    justify-content: center;
    align-items: center;
    transform: translateY(50px);
}

.h2 {
    color: white;
    font-family: "Porcine-Heavy";
    font-size: 12rem;
    letter-spacing: 12px;
    border: 2px white none;
}

.sub2 {
    color: white;
    /* font-family: "OpenSans-Light"; */
    /* font-family: "Bolularegular"; */
    font-family: "Agatha";
    font-size: 4rem;
    word-spacing: 5px;
    letter-spacing: 1px;
    border: 2px white none;
    transform: translateY(-20px);
}

.subtitle
{
    border: 2px white none;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: 750ms;
}

.subtitle:hover
{
    background-color: white;
}

h3 
{
    color: white;
    font-family: "Porcine-Heavy";
    font-size: 2.5rem;
    padding: 20px;
    text-align: center;
    border: 4px white none;
    width: 350px;
    transition: 750ms;  
}

h3:hover
{
    color: rgb(0, 0, 0);
    /* background-color: white; */
}


h3 > a
{
    text-decoration: none;
    color: inherit;
}

h3 > a:visited
{
    text-decoration: none;
    color: inherit;
}

.s2
{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
     width: 400px;
}

.underline1
{
    background-color: white;
    width: 388px;
    height: 4px;
}

.underline105
{
    background-color: white;
    width: 4px;
    height: 80px;
    /* grid-column: 1 / span 3;  */
}

.underline106
{
    background-color: white;
    width: 4px;
    height: 80px;
    /* grid-column: 1 / span 3;  */
}

.IIsubtitle
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 100px;
}

h4
{
    color: white;
    font-family: "Porcine-Heavy";
    font-size: 2rem;
    /* text-decoration: underline; */
    letter-spacing: 2px;
    font-weight: 0;
}

h4 > a
{
    text-decoration: none; 
    color: white;
}

h4 > a:visited
{
    text-decoration: none; 
    color: white;
}

.underline2
{
    background-color: white;
    width: 120px;
    height: 2px;
    margin-top: 5px;
}

.h4-1:hover ~ .underline2 
{
    transition: .5s;
    width: 280px; 
}

.h4-2:hover ~ .underline2 
{
    transition: .5s;
    width: 245px; 
}

.arrow
{
    width: 90%;
    position: absolute;
    top: 95vh;
    left: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.arrow > img
{
    height: 32px;
    width: 32px;
    transition: 1s;
}

.arrow:hover ~ .arrow > img
{
    height: 46px;
    width: 32px;
}



.INTROCONT
{
  width: 100%;
  height: 100vh;
  background-color: rgb(30, 30, 30);
  background-image: url(./introbg2.jpg);
  background-size: cover;
  background-blend-mode:hard-light;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  align-content: center;
  justify-content: space-evenly;
  position: relative;
  border-bottom: 3px white none;
  /* animation-name: introanimate;
  animation-duration: 5s;
  animation-delay: 1s; */
}

/* @keyframes introanimate
{
    0%
    {
       .introimg
       {
          position: relative; 
       }
       .imgcontent
       {
         position: relative;
       }
       .waterwaves
       {
         position: relative;
       }
    }
    25%
    {
        .introimg
       {
          position: absolute; 
          top: 40%;
          left: 20%;
       }
       .imgcontent
       {
         position: absolute;
         top: 50%;
         left: 50%;
       }
       .waterwaves
       {
         position: absolute;
         top: 30%;
         right: 20%;
       }
    }
     50%
    {
        .introimg
       {
          position: absolute; 
          top: 40%;
          left: 20%;
       }
       .imgcontent
       {
         position: absolute;
         top: 50%;
         left: 50%;
       }
       .waterwaves
       {
         position: absolute;
         top: 30%;
         right: 20%;
       }
    }
     100%
    {
        .introimg
       {
          position: absolute; 
          top: 40%;
          left: 20%;
       }
       .imgcontent
       {
         position: absolute;
         top: 50%;
         left: 50%;
       }
       .waterwaves
       {
         position: absolute;
         top: 30%;
         right: 20%;
       }
    }
} */

.introimg
{
    border: 12px white solid;
    height:70%;
    width: auto;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
    transform: translate(25%,2%);
}

.introcontent
{
   background-color: white;
   width: 50%;
   height: 50%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-evenly; 
   align-items: center;
   border-radius: 6px;
   transform: translateX(-8%) translateY(25%);
}

h5
{
    font-family: "COILED";
    text-align: center;
    font-size:3rem; 
    margin-top: 20px;
    text-transform: capitalize;
    border: 2px black none;
}

h6
{
    /* margin: 20px; */
    /* font-family: "OpenSans-Light"; */
    font-family: "anakatrinatan";
    font-size: 1rem;
    padding: 10px;
    text-transform: capitalize;
    text-indent: 20px;
    letter-spacing: 2px;
    text-align: center;
    border: 2px black none;
    font-weight: 550;
}

.introline
{
    /* border: 6px black; */
    height: 2px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

.introbutton
{
    background-color: black;
    font-size: 1.1rem;
    color: white;
    font-weight: lighter;
    padding: 15px;
    margin-top: 10px;
    font-family: "anakatrinatan";
    transition: ease 1s;
}

.introbutton > a
{
    text-decoration: none;
    color: white;
}

.introbutton > a:visited
{
    text-decoration: none;
    color: white;
}


.introbutton:hover
{
    background-color: rgb(175, 0, 0);
}

.waterwaves
{
    transform: translateX(-125%) translateY(55%);
}





/* .DISH-CONTAINER
{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin-top: 0%;
    background-image: url(./sligebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px white none;
    
}
#slide-p
{
    font-family: "COILED";
    text-align: center;
    letter-spacing: 0.005rem;
    word-spacing: 4px;
    font-size:2.5rem; 
    font-weight: 400;
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 15px;
    text-transform: capitalize;
    border: 2px black none;
}
.slide-wrap
{
    position: relative;
    height: auto;
    width: 1100px;
    margin: auto;
    top: 45%;
    transform: translateY(-50%);
}
.slider
{
    display: flex;
    flex-wrap: nowrap;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 6px 18px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.slider::-webkit-scrollbar
{
    display: none;
}
.slider img
{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slide-nav
{
  display: flex;
  column-gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slide-nav a
{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    opacity: .50;
    transition: opacity ease 250ms;
}
.slide-nav a:hover 
{
    opacity: 1;
} */


.DISH-CONTAINER
{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(255, 255, 255); */
    margin-top: 0%;
    /* background-image: url(./sligebg.jpg), linear-gradient(rgba(0, 0, 0, 0.25), rgb(205, 225, 227));
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply; */
    border-bottom: 2px white none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    column-gap: 25px;

}

#slide-p
{
    /* font-family: "COILED"; */
    font-family: "anakatrinatan";
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 0.005rem;
    word-spacing: 4px;
    font-size:2.25rem; 
    font-weight: 400;
    /* text-decoration: overline 2px; */
    /* margin-top: 15px;
    margin-bottom: 10px; */
    padding-top: 15px;
    text-transform: capitalize;
    border: 2px rgb(255, 255, 255) none;
    height: 225px;
    width: 200px;
    border-radius: 15px;
    position: relative;
    bottom: -100px;
    box-shadow: 3px 3px 16px 3px rgba(255, 255, 255, 0.3);
    background-color: rgb(255, 255, 255);
    transition: 750ms;
}


.slide-wrap
{
    width: 80%;
    height: auto;
    margin-top: 15px;
    display: grid;
    overflow: hidden;
    border-radius: 15px;
    /* border: 2px rgba(255, 255, 255, 0) solid; */
    border-top: 2px rgba(255, 255, 255, 0.75) solid;
    border-bottom: 2px rgba(255, 255, 255, 0.75) solid;
    background-color: rgba(255, 255, 255, 0.8);
}

.slider
{
    
    display: flex;
    width: calc(1100px * 16);
    animation: scroll 25s linear infinite;
    animation-delay: 500ms;
    column-gap: 15px;
    box-shadow: 4px 4px 12px 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.slider:hover
{
    animation-play-state: paused;
}

@keyframes scroll 
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(calc(-1100px * 8));
    }
}

.slider > img
{
    width: 1100px;
    height: auto;
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.146);
    /* padding: 10px; */
    object-fit: cover;
    border-radius: 15px;
    transition: 250ms;
}

.slider > img:hover
{
    scale: 1;
    box-shadow: 6px 6px 12px 6px rgba(0, 0, 0, 0.3);
}

.overlay
{
    width: 100%;
    width: 100%;
    opacity: 0%;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay:hover
{
    opacity: 100%;
}

.blackbg
{
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 70vh;
    background-color: rgb(30, 30, 30);
    background-image: url(./introbg2.jpg);
    background-size: cover;
    background-blend-mode:hard-light;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    border-top: white 2px solid;
}

.colourbg
{
    position: absolute;
    z-index: -1;
    bottom: 0px;
    width: 100%;
    height: 30vh;
    /* background-color: rgba(0, 0, 0, 0.25);
    background-image: url(./sligebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light; */
    background-image: url(./coloursbg7.jpg);
    background-color:#ffffff;
    background-repeat: repeat;
    background-size: 400px;
    background-blend-mode:multiply;
    border-bottom: 2px #ffffff solid;
}




.CATER
{
    width: 100%;
    height: 100vh;
    position: relative;
}

.cater-img
{
    width: 100%;
    height: 100%;
    background-image: url(./caterbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

/* .cater-line1
{
    width: 100%;
    height: 100px;
    background-color: #588157;
} */

.catercontent
{
    width: 40%;
    height: 40%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.catercontent-title
{
    font-family: "COILED";
    text-align: center;
    font-size:2.5rem; 
    margin-top: 10px;
    text-transform: capitalize;
    border: 2px black none;
}

.catercontent-para
{
    /* font-family: "OpenSans-Light"; */
    font-family: "anakatrinatan";
    font-size: 1rem;
    padding: 10px;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 20px;
    /* letter-spacing: 2px; */
    text-align: center;
    border: 2px black none;
}

.cater-button
{
    background-color: black;
    font-size: 1rem;
    color: white;
    font-weight: lighter;
    padding: 8px;
    font-family: "anakatrinatan";
    transition: ease 1s;
}

.cater-button:hover
{
    background-color: rgb(175, 0, 0);
}

.cater-button > a
{
    text-decoration: none;
    color: white;
}

.cater-button > a:visited
{
    text-decoration: none;
    color: white;
}



/* .cater-line2
{
    width: 100%;
    height: 100px;
    background-color:  #588157;
} */





.FOOTER
{
    width: 100%;
    height: 50vh;
    background-color: #588157 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-nav
{
    height: 70%;
    width: 90%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.foot-nav-1
{
    width: 30%;
    height: 100%;
    border: 2px black none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footnav1-button
{
    background-color: rgb(29, 169, 224);
    font-size: 1.5rem;
    color: white;
    font-weight: lighter;
    border: none;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "anakatrinatan";
    transition: ease 1s;
    margin-left: 15px;
}

.footnav1-button > a
{
    color: white;
    text-decoration: solid;
}

.footnav1-button > a:visited
{
    color: white;
    text-decoration: solid;
}

.footnav1-p
{
    margin-left: 15px;
    font-size: 1rem;
    font-family: "OpenSans-Light";
}    


.foot-nav-2
{
    width: 30%;
    height: 100%;
    border: 2px black none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footnav2-title
{
    font-family: "COILED";
    font-size:2rem; 
    text-transform: capitalize;
    text-align: center;
}

.footnav2-p
{
    font-size: 1rem;
    font-family: "OpenSans-Light";
    text-align: center;
}


.foot-nav-3
{
    width: 30%;
    height: 100%;
    border: 2px black none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footnav3-img
{
    margin-right: 15px;
}

.footnav3-p
{
    font-size: 1rem;
    font-family: "OpenSans-Light";
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
}

.footnav3-socials
{
    border: 1px none;
    padding: 20px;
    /* /* margin-right: 15px; */
    margin-bottom: 15px; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    column-gap: 15px;
}

/* .footnav1-button > a
{
    color: white;
    text-decoration: none;
}

.footnav1-button > a:visited
{
    color: white;
    text-decoration: none;
} */




/* 
.fixed-contact
{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 1;
    transition: 250ms;
}

.tact-img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fixed-img
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid;
}

.fixed-text
{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    border: 2px solid;
} */

/* .fixed-text:hover
{
    opacity: 100%;
} */

/* .fixed-contact:hover
{
    width: 150px;
    border-radius: 25px;
}

.fixed-img:hover
{
    width: 100%;
    height: 100%;
    opacity: 0%;
}
 */


